{% extends 'base.html.twig' %}

{% block title %}Hello CyborgController!{% endblock %}

{% block body %}
<div class="content">
    <h1>Großer Cyborg Test</h1>
    <div class="cyborg-test">
        <h2>Bin ich ein Cyborg?</h2>
        <div class="cyborg-test-form">
            {{ form_start(form) }}

            {{ form_widget(form) }}

            <button type="submit">Analysieren</button>
            {{ form_end(form) }}
        </div>
        <div>
            <p>Ergebnis Test:</p>
            {{ result }}
        </div>


    </div>
    <div class="cyborg-definition">
        <h2>Was ist ein Cyborg?</h2>
        <h3>Definition eines Cyborgs:</h3>
        <p>Ein Cyborg ist ein Wesen, das sowohl aus natürlichen biologischen Elementen als auch aus künstlichen, technologischen Komponenten besteht, die in den Körper integriert sind. Diese technischen Elemente können beispielsweise Implantate, Prothesen, Sensoren oder andere elektronische Geräte sein.
        </p>
        <h3>Merkmale eines Cyborgs:
            <ul>
                <li>Integration von Technologie in den Körper</li>
                <li>Verbesserung oder Wiederherstellung biologischer Funktionen
                <li>Verschmelzung von lebender Materie und Maschine</li>
            </ul>
        <h3>Beispiele für Cyborgs:
            <ul>
                <li>Menschen mit Herzschrittmachern oder Cochlea-Implantaten</li>
                <li>Wissenschaftlich entwickelte Prothesen mit erweiterten Fähigkeiten
                <li>Fiktionale Figuren wie RoboCop oder Cyborgs in Filmen und Literatur</li>
            </ul>
    </div>

</div>
{% endblock %}
